<div class="example-container">
  
<form class="col s4" #UserRegistrationForm="ngForm" (ngSubmit)="submitForm(UserRegistrationForm.value)">
      <div class="row">
        <div class="input-field col s12">
          <input name="UserName" #UserName="ngModel" required="" [(ngModel)]="user.UserName" type="text" class="validate">
          <label data-error="Required Field!">Username</label>
          <p [hidden]="UserName.valid">Enter Username!</p>
        </div>
        <div class="input-field col s12">
          <input name="Password" #Password="ngModel" required="" minlength="6" [(ngModel)]="user.Password" type="password" class="validate">
          <label [attr.data-error]="Password.error!=null?(Password.errors.required?'Required Field!':'Min 6 character needed'):''">Password</label>
          <p [hidden]="Password.valid">Enter Valid Password!</p>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="Email" #Email="ngModel" required="" [(ngModel)]="user.Email" type="email" class="validate">
          <label data-error="Valid Email!">Email</label>
          <p [hidden]="Email.valid">Enter Valid Email!</p>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="FirstName" #FirstName="ngModel" [(ngModel)]="user.FirstName" type="text" class="validate">
          <label data-error="Your Firstname">Firstname</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="LastName" #LastName="ngModel" [(ngModel)]="user.LastName" type="text" class="validate">
          <label data-error="Your Firstname">Lastname</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button [disabled]="!UserRegistrationForm.valid" class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
             </button>
        </div>
      </div>
    </form>
</div>
