
<div class="container">
 <div class="col s12">
    <table class="striped">
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                username
            </th>
            <th>
                Email
            </th>
        </tr>
        <tr *ngFor="let d of data | async">
            <td>
               {{ d.id }}
            </td>
            <td> 
               {{ d.name }}
            </td>
            <td>
               {{ d.username }}
            </td>
            <td>
               {{ d.email }}
            </td>
        </tr>
    </table> 
</div>
</div>


